In [26]:
# Dependencies
import numpy as np
import pandas as pd

In [27]:
df = pd.read_csv("data/nfl.csv")

In [28]:
df["date"] = pd.to_datetime(df["date"])

In [29]:
df.head()

,3d%,3d%_allowed,TOP,date,first_downs,first_downs_allowed,ha,margin,opp,pass_yards,...,rush_yards,rush_yards_allowed,sacked,sacks,takeaways,team,total_points,total_yards,total_yards_allowed,turnovers
0,0.307692,0.285714,28.350000,2009-09-10,18,19,away,-3,PIT,234,...,86,36,1,4,3,TEN,3,320,357,2
1,0.285714,0.307692,36.183333,2009-09-10,19,18,home,3,TEN,321,...,36,86,4,1,2,PIT,3,357,320,3
2,0.363636,0.400000,29.116667,2009-09-13,16,19,away,-12,ATL,163,...,96,68,4,2,0,MIA,26,259,281,4
3,0.400000,0.363636,30.883333,2009-09-13,19,16,home,12,MIA,213,...,68,96,2,4,4,ATL,26,281,259,0
4,0.250000,0.333333,26.550000,2009-09-13,10,16,away,5,CIN,227,...,75,86,3,3,2,DEN,19,302,307,0

## Manually split train and test data

In [30]:
train_df = df[df["date"] < "2015-01-01"]

In [31]:
train_df.head()

,3d%,3d%_allowed,TOP,date,first_downs,first_downs_allowed,ha,margin,opp,pass_yards,...,rush_yards,rush_yards_allowed,sacked,sacks,takeaways,team,total_points,total_yards,total_yards_allowed,turnovers
0,0.307692,0.285714,28.350000,2009-09-10,18,19,away,-3,PIT,234,...,86,36,1,4,3,TEN,3,320,357,2
1,0.285714,0.307692,36.183333,2009-09-10,19,18,home,3,TEN,321,...,36,86,4,1,2,PIT,3,357,320,3
2,0.363636,0.400000,29.116667,2009-09-13,16,19,away,-12,ATL,163,...,96,68,4,2,0,MIA,26,259,281,4
3,0.400000,0.363636,30.883333,2009-09-13,19,16,home,12,MIA,213,...,68,96,2,4,4,ATL,26,281,259,0
4,0.250000,0.333333,26.550000,2009-09-13,10,16,away,5,CIN,227,...,75,86,3,3,2,DEN,19,302,307,0

In [32]:
test_df = df[~(df["date"] < "2015-01-01")]

In [33]:
test_df.head()

,3d%,3d%_allowed,TOP,date,first_downs,first_downs_allowed,ha,margin,opp,pass_yards,...,rush_yards,rush_yards_allowed,sacked,sacks,takeaways,team,total_points,total_yards,total_yards_allowed,turnovers
3182,0.250000,0.333333,22.900000,2015-01-03,8,25,away,-11,CAR,51,...,27,188,4,1,3,ARI,43,78,386,3
3183,0.333333,0.250000,37.100000,2015-01-03,25,8,home,11,ARI,198,...,188,27,1,4,3,CAR,43,386,78,3
3184,0.363636,0.312500,24.716667,2015-01-03,19,22,away,13,PIT,246,...,53,68,1,5,3,BAL,47,299,387,1
3185,0.312500,0.363636,35.283333,2015-01-03,22,19,home,-13,BAL,319,...,68,53,5,1,1,PIT,47,387,299,3
3186,0.400000,0.428571,25.833333,2015-01-04,14,22,away,-16,IND,144,...,110,114,3,1,1,CIN,36,254,482,1

In [34]:
test_df.shape

(1624, 26)

In [35]:
df.columns

Index(['3d%', '3d%_allowed', 'TOP', 'date', 'first_downs',
       'first_downs_allowed', 'ha', 'margin', 'opp', 'pass_yards',
       'pass_yards_allowed', 'penalty_yards', 'plays', 'points',
       'points_allowed', 'result', 'rush_yards', 'rush_yards_allowed',
       'sacked', 'sacks', 'takeaways', 'team', 'total_points', 'total_yards',
       'total_yards_allowed', 'turnovers'],
      dtype='object')

In [36]:
df.dtypes

3d%                           float64
3d%_allowed                   float64
TOP                           float64
date                   datetime64[ns]
first_downs                     int64
first_downs_allowed             int64
ha                             object
margin                          int64
opp                            object
pass_yards                      int64
pass_yards_allowed              int64
penalty_yards                   int64
plays                           int64
points                          int64
points_allowed                  int64
result                         object
rush_yards                      int64
rush_yards_allowed              int64
sacked                          int64
sacks                           int64
takeaways                       int64
team                           object
total_points                    int64
total_yards                     int64
total_yards_allowed             int64
turnovers                       int64
dtype: object

# Data Preprocessing

In [37]:
X_train = train_df.drop(["result", "date", "margin", "points", "points_allowed"], axis=1)
X_train = pd.get_dummies(X_train)

In [38]:
X_train.shape

(3182, 84)

In [39]:
X_test = test_df.drop(["result", "date", "margin", "points", "points_allowed"], axis=1)
X_test = pd.get_dummies(X_test)

In [40]:
X_test.shape

(1624, 84)

In [41]:
y_train = train_df["result"]
print(X_train.shape, y_train.shape)

(3182, 84) (3182,)

In [42]:
y_test = test_df["result"]

In [43]:
# X = df.drop(["result", "date", "margin"], axis=1)

In [44]:
# X.head()

In [45]:
# X = pd.get_dummies(X)

In [46]:
# X.head()

In [47]:
# y = df["result"]
# print(X.shape, y.shape)

In [48]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.utils import to_categorical

# X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)
X_scaler = StandardScaler().fit(X_train)
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

# Step 1: Label-encode data set
label_encoder = LabelEncoder()
label_encoder.fit(y_train)
encoded_y_train = label_encoder.transform(y_train)
encoded_y_test = label_encoder.transform(y_test)

# Step 2: Convert encoded labels to one-hot-encoding
y_train_categorical = to_categorical(encoded_y_train)
y_test_categorical = to_categorical(encoded_y_test)

# Create Deep Learning Model

In [49]:
from keras.models import Sequential
from keras.layers import Dense

# Create model and add layers
model = Sequential()
model.add(Dense(units=200, activation='relu', input_dim=84))
model.add(Dense(units=200, activation='relu'))
model.add(Dense(units=3, activation='softmax'))

In [50]:
# Compile and fit the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=60,
    shuffle=True,
    verbose=2
)

Epoch 1/60
 - 0s - loss: 0.4340 - acc: 0.7967
Epoch 2/60
 - 0s - loss: 0.2934 - acc: 0.8762
Epoch 3/60
 - 0s - loss: 0.2350 - acc: 0.8972
Epoch 4/60
 - 0s - loss: 0.1970 - acc: 0.9151
Epoch 5/60
 - 0s - loss: 0.1616 - acc: 0.9331
Epoch 6/60
 - 0s - loss: 0.1388 - acc: 0.9447
Epoch 7/60
 - 0s - loss: 0.1076 - acc: 0.9569
Epoch 8/60
 - 0s - loss: 0.0834 - acc: 0.9730
Epoch 9/60
 - 0s - loss: 0.0608 - acc: 0.9808
Epoch 10/60
 - 0s - loss: 0.0478 - acc: 0.9862
Epoch 11/60
 - 0s - loss: 0.0359 - acc: 0.9906
Epoch 12/60
 - 0s - loss: 0.0271 - acc: 0.9925
Epoch 13/60
 - 0s - loss: 0.0228 - acc: 0.9931
Epoch 14/60
 - 0s - loss: 0.0169 - acc: 0.9953
Epoch 15/60
 - 0s - loss: 0.0159 - acc: 0.9962
Epoch 16/60
 - 0s - loss: 0.0075 - acc: 0.9997
Epoch 17/60
 - 0s - loss: 0.0053 - acc: 0.9994
Epoch 18/60
 - 0s - loss: 0.0047 - acc: 0.9994
Epoch 19/60
 - 0s - loss: 0.0070 - acc: 0.9987
Epoch 20/60
 - 0s - loss: 0.0094 - acc: 0.9981
Epoch 21/60
 - 0s - loss: 0.0084 - acc: 0.9978
Epoch 22/60
 - 0s - loss: 0.0120 - acc: 0.9962
Epoch 23/60
 - 0s - loss: 0.0696 - acc: 0.9717
Epoch 24/60
 - 0s - loss: 0.0716 - acc: 0.9736
Epoch 25/60
 - 0s - loss: 0.0370 - acc: 0.9865
Epoch 26/60
 - 0s - loss: 0.0177 - acc: 0.9947
Epoch 27/60
 - 0s - loss: 0.0079 - acc: 0.9987
Epoch 28/60
 - 0s - loss: 0.0031 - acc: 0.9991
Epoch 29/60
 - 0s - loss: 0.0010 - acc: 1.0000
Epoch 30/60
 - 0s - loss: 7.1932e-04 - acc: 1.0000
Epoch 31/60
 - 0s - loss: 5.9517e-04 - acc: 1.0000
Epoch 32/60
 - 0s - loss: 5.1473e-04 - acc: 1.0000
Epoch 33/60
 - 0s - loss: 4.5670e-04 - acc: 1.0000
Epoch 34/60
 - 0s - loss: 4.0433e-04 - acc: 1.0000
Epoch 35/60
 - 0s - loss: 3.6527e-04 - acc: 1.0000
Epoch 36/60
 - 0s - loss: 3.2961e-04 - acc: 1.0000
Epoch 37/60
 - 0s - loss: 2.9930e-04 - acc: 1.0000
Epoch 38/60
 - 0s - loss: 2.7491e-04 - acc: 1.0000
Epoch 39/60
 - 0s - loss: 2.5066e-04 - acc: 1.0000
Epoch 40/60
 - 0s - loss: 2.3149e-04 - acc: 1.0000
Epoch 41/60
 - 0s - loss: 2.1545e-04 - acc: 1.0000
Epoch 42/60
 - 0s - loss: 1.9755e-04 - acc: 1.0000
Epoch 43/60
 - 0s - loss: 1.8236e-04 - acc: 1.0000
Epoch 44/60
 - 0s - loss: 1.7007e-04 - acc: 1.0000
Epoch 45/60
 - 0s - loss: 1.5828e-04 - acc: 1.0000
Epoch 46/60
 - 0s - loss: 1.4812e-04 - acc: 1.0000
Epoch 47/60
 - 0s - loss: 1.3702e-04 - acc: 1.0000
Epoch 48/60
 - 0s - loss: 1.2829e-04 - acc: 1.0000
Epoch 49/60
 - 0s - loss: 1.1969e-04 - acc: 1.0000
Epoch 50/60
 - 0s - loss: 1.1252e-04 - acc: 1.0000
Epoch 51/60
 - 0s - loss: 1.0466e-04 - acc: 1.0000
Epoch 52/60
 - 0s - loss: 9.8135e-05 - acc: 1.0000
Epoch 53/60
 - 0s - loss: 9.2096e-05 - acc: 1.0000
Epoch 54/60
 - 0s - loss: 8.6430e-05 - acc: 1.0000
Epoch 55/60
 - 0s - loss: 8.1626e-05 - acc: 1.0000
Epoch 56/60
 - 0s - loss: 7.6294e-05 - acc: 1.0000
Epoch 57/60
 - 0s - loss: 7.2187e-05 - acc: 1.0000
Epoch 58/60
 - 0s - loss: 6.7338e-05 - acc: 1.0000
Epoch 59/60
 - 0s - loss: 6.3384e-05 - acc: 1.0000
Epoch 60/60
 - 0s - loss: 5.9786e-05 - acc: 1.0000

# Quantify our Trained Model

In [51]:
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test_categorical, verbose=2)

print(f"Normal Neural Network - Loss: {model_loss}, Accuracy: {model_accuracy}")

Normal Neural Network - Loss: 1.2720654268056302, Accuracy: 0.8269704430561348

# Make Predictions

In [52]:
encoded_predictions = model.predict_classes(X_test_scaled[:10])
prediction_labels = label_encoder.inverse_transform(encoded_predictions)

C:\Users\Justin\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [53]:
print(f"Predicted classes: {prediction_labels}")
print(f"Actual Labels: {list(y_test[:10])}")

Predicted classes: ['Loss' 'Win' 'Win' 'Loss' 'Loss' 'Win' 'Win' 'Win' 'Loss' 'Win']
Actual Labels: ['Loss', 'Win', 'Win', 'Loss', 'Loss', 'Win', 'Loss', 'Win', 'Loss', 'Win']

In [54]:
predicted_encoded = model.predict_classes(X_test_scaled)
predicted_label_column = label_encoder.inverse_transform(predicted_encoded)

C:\Users\Justin\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [55]:
print(predicted_label_column, len(predicted_label_column))

['Loss' 'Win' 'Win' ... 'Win' 'Loss' 'Win'] 1624

In [56]:
new_test_df = test_df
new_test_df["prediction"] = predicted_label_column

C:\Users\Justin\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

In [57]:
new_test_df

,3d%,3d%_allowed,TOP,date,first_downs,first_downs_allowed,ha,margin,opp,pass_yards,...,rush_yards_allowed,sacked,sacks,takeaways,team,total_points,total_yards,total_yards_allowed,turnovers,prediction
3182,0.250000,0.333333,22.900000,2015-01-03,8,25,away,-11,CAR,51,...,188,4,1,3,ARI,43,78,386,3,Loss
3183,0.333333,0.250000,37.100000,2015-01-03,25,8,home,11,ARI,198,...,27,1,4,3,CAR,43,386,78,3,Win
3184,0.363636,0.312500,24.716667,2015-01-03,19,22,away,13,PIT,246,...,68,1,5,3,BAL,47,299,387,1,Win
3185,0.312500,0.363636,35.283333,2015-01-03,22,19,home,-13,BAL,319,...,53,5,1,1,PIT,47,387,299,3,Loss
3186,0.400000,0.428571,25.833333,2015-01-04,14,22,away,-16,IND,144,...,114,3,1,1,CIN,36,254,482,1,Loss
3187,0.428571,0.400000,34.166667,2015-01-04,22,14,home,16,CIN,368,...,110,1,3,1,IND,36,482,254,1,Win
3188,0.363636,0.428571,29.550000,2015-01-04,19,18,away,-4,DAL,307,...,73,3,6,1,DET,44,397,315,3,Win
3189,0.428571,0.363636,30.450000,2015-01-04,18,19,home,4,DET,242,...,90,6,3,3,DAL,44,315,397,1,Win
3190,0.111111,0.545455,32.650000,2015-01-10,28,29,away,-4,NEP,292,...,14,0,2,1,BAL,66,428,422,2,Loss
3191,0.545455,0.111111,27.350000,2015-01-10,29,28,home,4,BAL,408,...,136,2,0,2,NEP,66,422,428,1,Win
3192,0.562500,0.538462,34.050000,2015-01-10,21,16,away,-14,SEA,230,...,100,2,2,0,CAR,48,362,348,3,Loss
3193,0.538462,0.562500,25.950000,2015-01-10,16,21,home,14,CAR,248,...,132,2,2,3,SEA,48,348,362,0,Win
3194,0.500000,0.642857,30.650000,2015-01-11,21,23,away,-5,GBP,170,...,119,4,2,1,DAL,47,315,416,1,Loss
3195,0.642857,0.500000,29.350000,2015-01-11,23,21,home,5,DAL,297,...,145,2,4,1,GBP,47,416,315,1,Win
3196,0.384615,0.250000,34.016667,2015-01-11,23,19,away,11,DEN,265,...,88,0,2,1,IND,37,364,288,2,Win
3197,0.250000,0.384615,25.983333,2015-01-11,19,23,home,-11,IND,200,...,99,2,0,2,DEN,37,288,364,1,Loss
3198,0.214286,0.500000,32.250000,2015-01-18,19,20,away,-6,SEA,171,...,194,1,5,5,GBP,6,306,397,2,Loss
3199,0.500000,0.214286,31.066667,2015-01-18,20,19,home,6,GBP,203,...,135,5,1,2,SEA,6,397,306,5,Win
3200,0.272727,0.666667,22.183333,2015-01-18,17,28,away,-38,NEP,126,...,177,0,1,1,IND,52,209,397,3,Loss
3201,0.666667,0.272727,37.816667,2015-01-18,28,17,home,38,IND,220,...,83,1,0,3,NEP,52,397,209,1,Win
3202,0.571429,0.300000,33.766667,2015-02-01,25,20,away,4,SEA,320,...,162,1,3,1,NEP,52,377,396,2,Loss
3203,0.300000,0.571429,26.233333,2015-02-01,20,25,home,-4,NEP,234,...,57,3,1,2,SEA,52,396,377,1,Win
3204,0.466667,0.636364,32.083333,2015-09-10,23,26,away,-7,NEP,330,...,80,3,2,0,PIT,49,464,361,1,Loss
3205,0.636364,0.466667,27.916667,2015-09-10,26,23,home,7,PIT,281,...,134,2,3,1,NEP,49,361,464,0,Win
3206,0.600000,0.647059,28.133333,2015-09-13,21,25,away,8,CHI,189,...,189,0,2,1,GBP,54,322,402,0,Win
3207,0.647059,0.600000,31.866667,2015-09-13,25,21,home,-8,GBP,213,...,133,2,0,0,CHI,54,402,322,1,Loss
3208,0.230769,0.214286,35.316667,2015-09-13,19,24,away,7,HOU,233,...,98,2,5,2,KCC,47,330,396,0,Win
3209,0.214286,0.230769,24.683333,2015-09-13,24,19,home,-7,KCC,298,...,97,5,2,0,HOU,47,396,330,2,Loss
3210,0.500000,0.538462,31.666667,2015-09-13,15,18,away,-21,NYJ,217,...,154,3,0,1,CLE,41,321,333,5,Loss
3211,0.538462,0.500000,28.333333,2015-09-13,18,15,home,21,CLE,179,...,104,0,3,5,NYJ,41,333,321,1,Win
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4776,0.375000,0.187500,26.550000,2017-12-31,13,11,away,-5,TEN,146,...,116,2,3,1,JAX,25,229,232,4,Loss
4777,0.187500,0.375000,33.450000,2017-12-31,11,13,home,5,JAX,116,...,83,3,2,4,TEN,25,232,229,1,Win
4778,0.363636,0.538462,26.666667,2017-12-31,14,26,away,-20,LAC,231,...,115,2,1,0,OAK,40,336,495,2,Loss
4779,0.538462,0.363636,33.333333,2017-12-31,26,14,home,20,OAK,380,...,105,1,2,2,LAC,40,495,336,0,Win
4780,0.500000,0.333333,29.150000,2017-12-31,25,15,away,21,LAR,292,...,102,0,3,2,SFO,47,461,251,3,Win
4781,0.333333,0.500000,30.850000,2017-12-31,15,25,home,-21,SFO,149,...,169,3,0,3,LAR,47,251,461,2,Loss
4782,0.500000,0.722222,28.450000,2017-12-31,18,28,away,-7,TBB,231,...,110,2,2,3,NOS,55,323,455,1,Win
4783,0.722222,0.500000,31.550000,2017-12-31,28,18,home,7,NOS,345,...,92,2,2,1,TBB,55,455,323,3,Loss
4784,0.615385,0.363636,32.466667,2018-01-06,23,19,away,1,KCC,195,...,69,2,4,0,TEN,43,397,325,2,Win
4785,0.363636,0.615385,27.533333,2018-01-06,19,23,home,-1,TEN,256,...,202,4,2,2,KCC,43,325,397,0,Win
4786,0.333333,0.357143,37.583333,2018-01-06,20,19,away,13,LAR,198,...,115,3,3,2,ATL,39,322,361,0,Win
4787,0.357143,0.333333,22.416667,2018-01-06,19,20,home,-13,ATL,246,...,124,3,3,0,LAR,39,361,322,2,Loss
4788,0.388889,0.166667,32.616667,2018-01-07,20,15,away,-7,JAX,133,...,155,2,2,0,BUF,13,263,230,2,Loss
4789,0.166667,0.388889,27.383333,2018-01-07,15,20,home,7,BUF,75,...,130,2,2,2,JAX,13,230,263,0,Win
4790,0.470588,0.250000,33.816667,2018-01-07,24,21,away,-5,NOS,306,...,41,4,1,1,CAR,57,413,410,0,Win
4791,0.250000,0.470588,26.183333,2018-01-07,21,24,home,5,CAR,369,...,107,1,4,0,NOS,57,410,413,1,Win
4792,0.307692,0.461538,27.900000,2018-01-13,19,22,away,-5,PHI,195,...,96,3,1,2,ATL,25,281,334,0,Win
4793,0.461538,0.307692,32.100000,2018-01-13,22,19,home,5,ATL,238,...,86,1,3,0,PHI,25,334,281,2,Win
4794,0.333333,0.647059,27.066667,2018-01-13,15,31,away,-21,NEP,202,...,101,8,0,0,TEN,49,267,438,0,Loss
4795,0.647059,0.333333,32.933333,2018-01-13,31,15,home,21,TEN,337,...,65,0,8,0,NEP,49,438,267,0,Win
4796,0.571429,0.437500,28.833333,2018-01-14,22,28,away,3,PIT,214,...,83,0,2,2,JAX,87,378,545,0,Win
4797,0.437500,0.571429,31.166667,2018-01-14,28,22,home,-3,JAX,462,...,164,2,0,0,PIT,87,545,378,2,Loss
4798,0.222222,0.588235,26.716667,2018-01-14,23,24,away,-5,MIN,278,...,95,2,2,1,NOS,53,358,403,2,Loss
4799,0.588235,0.222222,33.283333,2018-01-14,24,23,home,5,NOS,308,...,80,2,2,2,MIN,53,403,358,1,Win
4800,0.400000,0.250000,35.133333,2018-01-21,22,22,away,-4,NEP,273,...,46,3,3,1,JAX,44,374,344,0,Loss
4801,0.250000,0.400000,24.866667,2018-01-21,22,22,home,4,JAX,298,...,101,3,3,0,NEP,44,344,374,1,Win
4802,0.461538,0.714286,25.933333,2018-01-21,22,27,away,-31,PHI,263,...,110,1,1,0,MIN,45,333,456,3,Loss
4803,0.714286,0.461538,34.066667,2018-01-21,27,22,home,31,MIN,346,...,70,1,1,3,PHI,45,456,333,0,Win
4804,0.625000,0.500000,34.066667,2018-02-04,25,29,away,8,NEP,374,...,113,0,1,1,PHI,74,538,613,1,Loss
4805,0.500000,0.625000,25.933333,2018-02-04,29,25,home,-8,PHI,500,...,164,1,0,1,NEP,74,613,538,1,Win

In [58]:
new_test_df.to_csv("data/nfl_2015_2017_prediction.csv", encoding="utf-8", index=False)